* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
}

//layout styles

.search-bar {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f7f7f9;
  outline: none;
  border: none;
}

.search-bar input {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 8px;
}

.wrapper-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  width: 100%;
  height: 100%;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 49px;
  margin-bottom: 32px;
}

.hamburger,
.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f7f7f9;
  max-width: 48px;
  max-height: 48px;
  padding: 17px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.notification-dot {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -3px;
  top: -3px;
  border: 3px solid white;
  background-color: #ea4d4d;
}

.three-dots {
  position: relative;
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hamburger-drawer,
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #f7f7f9;
  max-width: 150px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

.hamburger-drawer {
  top: 0;
  left: 50px;
}

.dropdown {
  top: 70px;
  left: 50%;
  cursor: pointer;
}

.right-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

//navigation styles

.nav {
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  max-width: 264px;
  width: 100%;
}

.sidenav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 24px 27px 10px;
  height: 60%;
  width: 100%;
}

.favorites-and-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0 14px;
  font-size: 24px;
  font-weight: 600;
}

.favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.user-data .name {
  color: #0a041c;
}

.user-data .email {
  color: #9896a1;
}

.sidenav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  gap: 12px;
  width: 100%;
  color: #0a041c66;
  padding: 14px 10px;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
}

.sidenav-item.active {
  background-color: white;
  color: #0a041c;
  border: 1px solid #ebebf3;
}

.sidenav-item.active.sidenav-item-icon {
  color: #7445fb;
}

//detail

#detail {
  padding: 0 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

//components
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  max-height: 336px;
  width: 100%;
  height: 100%;
  background-color: #f7f7f9;
  padding: 32px;
  border-radius: 16px;
}

.title-and-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.balance-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.amount {
  font-size: 56px;
  margin-bottom: 16px;
  margin-top: 40px;
}

.main-box {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 16px;
  padding: 32px;
}

.main-box-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #ebebf3;
  width: 100%;
  margin-bottom: 32px;
}

.main-box-nav a {
  text-decoration: none;
  font-size: 16px;
  color: #9896a1;
  cursor: pointer;
  line-height: 36px;
}

.main-box-nav a.active {
  color: #0a041c;
  border-bottom: 4px solid #7445fb;
}

//table

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.table-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
}

.table-item-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
}

.table-item-element .label {
  color: #9896a1;
}

.table-item-element .content {
  color: #0a041c;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.button {
  box-sizing: border-box;
  max-width: 56px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
}

.button-light {
  color: #7445fb;
  background-color: white;
  border: 1px solid #ebebf3;
}

.button-dark {
  color: white;
  background-color: #7445fb;
  border: none;
}
